html {
    text-align: center;
    font-family: Monaco;
  }

  .explain{
      border: 2px solid black;
      height: 150px;
      width: 80%;
      margin-right: 2em;
      margin-top: 2em;
      text-align: center;
  }
  
  .right {
    float: right;
    background-color: white !important;
  }
  
  .left {
    display: inline-block;
  }
  
  .square {
    background-color: white;
    border: 1px solid black;
  }
  
  .color {
    background-color: gray;
    border: 1px solid black;
  }
  
  .gridContainer {
    margin-top: 25px;
    margin-right: 40px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 575px;
    width: 575px;
  }